{{define "обработчики"}}
<div id="dashboard-content" data-updateMethod="replaceWith">
    <section class="section">
        <div class="container">

            <div id="addRote">
             {{template "формаНовогоОбработчика" .}}
            </div>
          

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Маршрут</th>
                        <th>Права доступа</th>
                        <th>Обработчики</th>
                        <th>HTML шаблон</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Content ... -->
                </tbody>
            </table>
        </div>
    </section>
</div>

{{end}}