{{define "рабочийСтол"}}
<div class="container is-fluid">
    <div class="columns">
    
        <!-- Sidebar menu -->
        <div class="column is-one-quarter">
          <aside class="menu">
            <p class="menu-label">
              Рабочий стол
            </p>
            <ul class="menu-list">
              <li><a href="/обработчики" onclick="ajax(event)">Обработчики</a></li>
              <li><a href="/очередиОбработкиМаршрутов" onclick="ajax(event)">Очерь обработчиков маршрутов</a></li>
              <li><a href="/заказы" onclick="ajax(event)">Заказы</a></li>
              <li><a href="/магазины" onclick="ajax(event)">Мои магазины</a></li>
              <li><a href="/сообщения" onclick="ajax(event)">Сообщения</a></li>
              <li><a href="/настройки" onclick="ajax(event)">Настройки</a></li>
              <!-- Add more menu items here -->
            </ul>
          </aside>
        </div>
    
        <!-- Main content -->
        <div class="column" id="content_block" >     
            {{ template "админ_контент" .}}    
        </div>
    
    </div>   
</div>
 {{end}}

{{ define "админ_контент"}}
  {{template "обработчики" .}}
{{end}}

