{{define "head"}}
<head>
    <meta charset="utf-8">
    <meta nonce="" name="viewport" data-hid="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0">
    <!-- <title>{{ .Title}}</title> -->
    <meta property="og:title" content="{{ .Title}}">
    <meta property="og:description" content="{{ .Описание}}">
    <meta property="og:url" content="https://example.com/">
    <link rel="stylesheet" href="/bulma.css">
    <link rel="stylesheet" href="/app.css">
    <script   type="application/javascript" src="/app.js"></script>
  </head>

{{end}}