:root {
  --внимание: hsl(320, 78%, 59%);  
  --основной: #476fe8; 
}


body {
  font-family: "Roboto", sans-serif;
  margin: 0; /* Reset margin to 0 */
  padding: 0; /* Reset padding to 0 */
  display: flex; /* Make body a flex container */
  flex-flow: column;
  justify-content: center; /* Center the #body container horizontally */
  align-items: center; /* Center the #body container vertically */
  min-height: 100vh; /* Make body take full height of the viewport */
  /* Limit the width of #body to 1440px */
  width: 100%; /* Make #body take full width of its parent */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

fieldset{
  border: 0;
}

#контент{

  display: flex; /* Make body a flex container */
  flex-flow: column;
  justify-content: center; /* Center the #body container horizontally */
  align-items: center; /* Center the #body container vertically */
  min-height: 100vh; /* Make body take full height of the viewport */
  /* Limit the width of #body to 1440px */
  width: 100%; /* Make #body take full width of its parent */
  box-sizing: border-box; 
}
#контент>.контейнер{
  max-width: 1440px;
}

aside{
 border-right: 1px solid #ccc;
 flex-basis: 300px;
 height: 100vh;
}

figure {
  margin: 0; 
  padding: 0; 
}

#контент-контейнер {
  padding: 10px;
}

.контейнер {
    display: flex;
    flex-wrap: wrap;
  }

  .строка {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid #ccc; */
    flex-direction: row;
  }

  .столбец {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .без-переноса {
    flex-wrap: nowrap;
  }

  .элемент {
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    min-width: 0;
  }
  .строка .элемент ,  .строка >.строка{
    flex: 0 0 auto; /* или flex-basis: auto; */
    max-width: none;
    width: auto;
  }

  .элемент.строка {
    flex-direction: row;
  }  

  /* .элемент.строка > .элемент{
   flex-grow: 1 !;
  } */
  /* .строка >.строка {
    width: auto;
    flex-grow: 1;
  } */



  .элемент img,  .элемент figure {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    flex-shrink: 0;
  }


.мин-ширина-12 {
    flex-basis: 12.5em;
}
.макс-ширина-12 {
    max-width: 12.5em;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .мин-высота-12 {
    min-height: 12.5em;
  }
  .макс-высота-12 {
    max-height: 12.5em;
  }  
  
  .макс-высота-30пкс {
    max-height: 30px;
  }

  /* Позиционирование по горизонтали */
  .выровнить-влево {
    justify-content: flex-start;
  }
  
  .выровнить-вцентр {
    justify-content: center;
  }
  
  .выровнить-вправо {
    justify-content: flex-end;
  } 
  
 
  .выровнить-вверх {
    align-items: flex-start;
  }
  
  .выровнить-вцентр {
    align-items: center;
  }
  
  .выровнить-вниз {
    align-items: flex-end;
  }




  .элемент.выровнить-влево {
    align-items: flex-start;
  }
  
  .элемент.выровнить-вцентр {
    align-items: center;
  }
  
  .элемент.выровнить-вправо {
    align-items: flex-end;
  }

  .элемент.выровнить-вверх {
    justify-content: flex-start;
  }
  
  .элемент.выровнить-вцентр {
    justify-content: center;
  }
  
  .элемент.выровнить-вниз {
    justify-content: flex-end;
  } 


  .строка.заполнить>.элемент, .строка.заполнить>*:not(.с-иконкой) {
    flex-grow: 1;
  }

  .с-иконкой .fas{
    margin: 0 4px;
  }
  

  .строка.один .элемент {
    flex-basis: calc(100% - 10px);
    flex-grow: 1;
  }
  
  .строка.два .элемент {
    flex-basis: calc(50% - 10px);
    flex-grow: 1;
  }
  
  .строка.два>.элемент:nth-child(2n+1):nth-last-child(-n+2),
  .строка.two>.элемент:nth-child(2n+1):nth-last-child(-n+2) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.три>.элемент {
    flex-basis: calc(33.33% - 10px);
    flex-grow: 1;
  }
  
  .строка.три>.элемент:nth-child(3n+1):nth-last-child(-n+3),
  .строка.три>.элемент:nth-child(3n+1):nth-last-child(-n+3) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.четыре> .элемент {
    flex-basis: calc(25% - 10px);
    flex-grow: 1;
  }
  
  .строка.четыре> .элемент:nth-child(4n+1):nth-last-child(-n+4),
  .строка.четыре> .элемент:nth-child(4n+1):nth-last-child(-n+4) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.пять> .элемент {
    flex-basis: calc(20% - 10px);
    flex-grow: 1;
  }
  
  .строка.пять> .элемент:nth-child(5n+1):nth-last-child(-n+5),
  .строка.пять> .элемент:nth-child(5n+1):nth-last-child(-n+5) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.шесть> .элемент {
    flex-basis: calc(16.66% - 10px);
    flex-grow: 1;
  }
  
  .строка.шесть> .элемент:nth-child(6n+1):nth-last-child(-n+6),
  .строка.шесть> .элемент:nth-child(6n+1):nth-last-child(-n+6) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.семь> .элемент {
    flex-basis: calc(14.28% - 10px);
    flex-grow: 1;
  }
  
  .строка.семь> .элемент:nth-child(7n+1):nth-last-child(-n+7),
  .строка.семь> .элемент:nth-child(7n+1):nth-last-child(-n+7) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.восемь> .элемент {
    flex-basis: calc(12.5% - 10px);
    flex-grow: 1;
  }
  
  .строка.восемь> .элемент:nth-child(8n+1):nth-last-child(-n+8),
  .строка.восемь> .элемент:nth-child(8n+1):nth-last-child(-n+8) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.девять> .элемент {
    flex-basis: calc(11.11% - 10px);
    flex-grow: 1;
  }
  
  .строка.девять> .элемент:nth-child(9n+1):nth-last-child(-n+9),
  .строка.девять >.элемент:nth-child(9n+1):nth-last-child(-n+9) ~ .элемент {
    flex-grow: 0;
  }
  
  .строка.десять >.элемент {
    flex-basis: calc(10% - 10px);
    flex-grow: 1;
  }
  
  .строка.десять> .элемент:nth-child(10n+1):nth-last-child(-n+10),
  .строка.десять> .элемент:nth-child(10n+1):nth-last-child(-n+10) ~ .элемент {
    flex-grow: 0;
  }

.строка.одинадцать> .элемент {
    flex-basis: calc(9.09% - 10px);
    flex-grow: 1;
  }
  
  .строка.одинадцать> .элемент:nth-child(11n+1):nth-last-child(-n+11),
  .строка.одинадцать> .элемент:nth-child(11n+1):nth-last-child(-n+11) ~ .элемент {
    flex-grow: 0;
  }

  .строка.двенадцать> .элемент {
    flex-basis: calc(8.33% - 10px);
    flex-grow: 1;
  }
  
  .строка.двенадцать> .элемент:nth-child(12n+1):nth-last-child(-n+12),
  .строка.двенадцать> .элемент:nth-child(12n+1):nth-last-child(-n+12) ~ .элемент {
    flex-grow: 0;
  }

  .элемент.один {
    flex-basis: calc(1 / 12 * 100%);
    max-width: calc(1 / 12 * 100%);
  }
  
  .элемент.два {
    flex-basis: calc(2 / 12 * 100%);
    max-width: calc(2 / 12 * 100%);
  }
  
  .элемент.три {
    flex-basis: calc(3 / 12 * 100%);
    max-width: calc(3 / 12 * 100%);
  }
  
  .элемент.четыре {
    flex-basis: calc(4 / 12 * 100%);
    max-width: calc(4 / 12 * 100%);
  }
  
  .элемент.пять {
    flex-basis: calc(5 / 12 * 100%);
    max-width: calc(5 / 12 * 100%);
  }
  
  .элемент.шесть {
    flex-basis: calc(6 / 12 * 100%);
    max-width: calc(6 / 12 * 100%);
  }
  
  .элемент.семь {
    flex-basis: calc(7 / 12 * 100%);
    max-width: calc(7 / 12 * 100%);
  }
  
  .элемент.восемь {
    flex-basis: calc(8 / 12 * 100%);
    max-width: calc(8 / 12 * 100%);
  }
  
  .элемент.девять {
    flex-basis: calc(9 / 12 * 100%);
    max-width: calc(9 / 12 * 100%);
  }
  
  .элемент.десять {
    flex-basis: calc(10 / 12 * 100%);
    max-width: calc(10 / 12 * 100%);
  }
  
  .элемент.одинадцать {
    flex-basis: calc(11 / 12 * 100%);
    max-width: calc(11 / 12 * 100%);
  }
  
  .элемент.двенадцать {
    flex-basis: calc(12 / 12 * 100%);
    max-width: calc(12 / 12 * 100%);
  }

  .элемент.заполнить {
    flex-grow: 1;
    max-width: 100%;
  }
  






.отступ-10{
  margin: 10px;
}

.нотступ-10{
  margin-bottom: 10px;
}
.вотступ-10{
  margin-top: 10px;
}
.лотступ-10{
  margin-left: 10px;
}
.потступ-10{
  margin-right: 10px;
}

.нотступ-0{
  margin-bottom: 0;
}
.вотступ-0{
  margin-top: 0;
}
.лотступ-0{
  margin-left: 0;
}
.потступ-0{
  margin-right: 0p
}

.отступ-внутр-10{
  padding: 10px;
}

.н-отступ-внутр-10{
  padding-bottom: 10px;
}
.в-отступ-внутр-10{
  padding-top: 10px;
}
.л-отступ-внутр-10{
  padding-left: 10px;
}
.п-отступ-внутр-10{
  padding-right: 10px;
}

.отступ-внутр-0{
  padding-bottom: 0;
}
.н-отступ-внутр-1{
  padding-bottom: 0;
}
.в-отступ-внутр-0{
  padding-top: 0;
}
.л-отступ-внутр-0{
  padding-left: 0;
}
.п-отступ-внутр-0{
  padding-right: 0;
}



.элемент-меню{
  font-size: 14px;
  text-decoration: none;
  color: #1f1f1f;

}
  

  /* .элемент-меню.выпадающий {
    position: relative; 
  }
  
  .элемент-меню.выпадающий .меню-выпадающее {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: #fff; 
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
  }
  
  .элемент-меню.выпадающий:hover .меню-выпадающее {
    display: block; 
  } */

  /* card */

  
.card {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    margin: 10px;
  }
  
  .card:hover {
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  }
  
  .card-image {
    display: block;
    position: relative;
  }
  
  .card-image .image {
    display: block;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .card-image .image img {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1.5rem;
  }
  
  .card-content .title {
    color: #363636;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 0.75rem;
  }
  
  .card-content .subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 1.5rem;
  }
  
 

  

  
  .card-content .button:hover {    
    background-color: #5277e7;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
  }
  
  .card-content .button.is-small {
    font-size: 0.75rem;
    padding: 0.25em 0.5em;
  }
  
  .card-content .quantity-selector {
    display: flex;
    align-items: center;
  }
  
 

  /*конец card */

  /* .элемент.заполнить ~ .элемент {
    flex-basis: 0;
    flex-grow: 10;
    max-width: 100%;
  } */
 
  button, .button, .кнопка {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    color: #1f1f1f;
    cursor: pointer;
    padding: 10px;
    /* border-radius: 3px;   */
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  button.контур, .button.контур, .кнопка.контур {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }

  button.основной , .button.основной , .кнопка.основной,  button.внимание , .button.внимание , .кнопка.внимание{ 
    color: #fff;
  }
  button.основной:hover,  .button.основной:hover, .кнопка.основной:hover { 
    background-color: #1549e6;
  } 

   
  button.внимание:hover , .button.внимание:hover , .кнопка.внимание:hover { 
    background-color: hsl(319.7, 91.2%, 50.8%);
  }
  
  .button.текст-влево , .кнопка.текст-влево{
    text-align: left;
  }
/* 
  button:first-child ,  .кнопка:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  button:last-child ,  .кнопка:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  button:not(:first-child) , .кнопка:not(:first-child) {
 
   
  }
  
  button:not(:last-child) ,  .кнопка:not(:last-child) {
   */
  /* } */




  button:first-child:not(:only-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #ffffff5e;
    margin-inline-end:-1px;
  }
  
  button:last-child:not(:only-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ffffff5e;
  }
  
  button:not(:first-child):not(:last-child) {
    border: 1px solid #ffffff5e;
    /* border-bottom: 1px solid #ccc; */
    margin-inline-end:-1px;
  }
  
  button:not(:last-child) {
    border-right: none;
  }
  
  button:only-child {
    border-radius: 4px;
  }

  

  button.с-иконкой,  .кнопка.с-иконкой, a.с-иконкой {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
  }
  
  button.с-иконкой .иконка,   .кнопка.с-иконкой .иконка, a.с-иконкой .иконка {
    font-size: 17px; /* размер иконки */
    /* margin-bottom: 5px; отступ между иконкой и текстом */
  }
  
  button.с-иконкой .текст,  .кнопка.с-иконкой .текст,a.с-иконкой .текст {
    font-size: 14px; /* размер текста */
    font-weight: 400;
    color: #666; /* цвет текста */
  }
  
  button.с-иконкой:hover .текст ,.кнопка.с-иконкой:hover .текст , a.с-иконкой:hover .текст {
    color: #333; /* цвет текста при наведении */
  }


  header {
    height: 64px;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  header{
    height: 64px;      
  }
  
  nav.меню {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  nav.меню .элемент  {
    /* margin-right: 20px; */
  }
  
  nav.меню .элемент:last-child {
    margin-right: 0;
  }

  
  nav.меню figure {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  nav.меню figure  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.лейбл-меню{
  text-transform: uppercase;
  font-weight: 300;
}
  
input {
    /* width: 200px; */
    box-sizing: border-box;
    /* height: 40px; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  input:has(+button.с-иконкой) {
    border-radius: 4px 0 0  4px; /* remove rounded corners on the right side */
  }
  input + button.с-иконкой {
    border-radius: 0 4px 4px 0; /* убрать заругленные углы слева */
  }

  input:focus{
    box-shadow: inset 0px 0px 10px -7px #000;
    /* border:0; */
    outline: none;
  }

  .подсказка {
    position: relative;
    cursor: help; /* Добавляет курсор в виде вопросительного знака при наведении */
  }
  
  .подсказка::before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 4px 8px;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    top: 100%;
  left: 50%;
  }
  
  .подсказка:hover::before {
    opacity: 1; /* Показывает подсказку при наведении */
    visibility: visible;
  }
/*   
  nav.меню .button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #337ab7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  nav.меню .button:hover {
    background-color: #23527c;
  }
  
  nav.меню .button.is-primary {
    background-color: #337ab7;
  }
  
  nav.меню .элемент-меню.выпадающий {
    position: relative;
  }
  
  nav.меню .меню-выпадающее {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
  }
  
  nav.меню .элемент-меню.выпадающий:hover .меню-выпадающее {
    display: block;
  }
   */



   /* pion.css */

.выпадающий {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.выпадающий.по-наведению:hover .выпадающее-меню {
  display: block;
}

.выпадающее-меню {
  display: none;
  left: 0;
  min-width: 12rem;
  padding-top: 0.25rem;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.выпадающий-контент {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.выпадающий-элемент {
  box-sizing: border-box;
  color: #4a4a4a;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 1rem;
  position: relative;
}

a.dвыпадающий-элемент,
.выпадающий-элемент {
  padding-right: 3rem;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

a.выпадающий-элемент:hover,
 .выпадающий-элемент:hover {
  background-color: #abdff3;
  color: #0a0a0a;
}

a.выпадающий-элемент.is-active,
.выпадающий-элемент.is-active {
  background-color: #3273dc;
  color: #fff;
}

.разделитель {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 0;
}




.панель {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.заголовок-панели {
  background-color: var(--основной);
  border-radius: 6px 6px 0 0;
  color: #ffffff;
  /* font-size: 1.25em; */
  font-weight: 700;
  line-height: 1.25;
  padding: 0.75em 1em;
}

.панель-вкладки {
  align-items: flex-end;
  display: flex;
  font-size: 0.875em;
  justify-content: center;
}

.панель-вкладки a {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: -1px;
  padding: 0.5em;
}

.панель-вкладки a.активная {
  border-bottom-color: #4a4a4a;
  color: #363636;
}

.список-панели a {
  color: #4a4a4a;
}

.список-панели a:hover {
  color: #3273dc;
}

.контент-панели {

}
/* 
.блок-панели {
  align-items: center;
  color: #363636;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 0.75em;
}

.блок-панели input[type="checkbox"] {
  margin-right: 0.75em;
}

.блок-панели > .control {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.блок-панели.в-несколько-строк {
  flex-wrap: wrap;
}

.блок-панели.активный {
  border-left-color: #3273dc;
  color: #363636;
}

.блок-панели.активный .иконка-панели {
  color: #3273dc;
}

.блок-панели:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

a.блок-панели,
label.блок-панели {
  cursor: pointer;
}

a.блок-панели:hover,
label.блок-панели:hover {
  background-color: #f5f5f5;
}

.иконка-панели {
  display: inline-block;
  font-size: 14px;
  height: 1em;
  line-height: 1em;
  text-align: center;
  vertical-align: top;
  width: 1em;
  color: #7a7a7a;
  margin-right: 0.75em;
}

.иконка-панели .fa {
  font-size: inherit;
  line-height: inherit;
} */




.основной {  
  background-color: var(--основной);
}
 .внимание {  
  background-color: var(--внимание);
}
