{{define "рекомендуемые_товары"}}
<div class="columns is-multiline">   
    {{template "карточка_товара" "is-one-quarter"}}
    {{template "карточка_товара" "is-one-quarter"}}
    {{template "карточка_товара" "is-one-quarter"}}
    {{template "карточка_товара" "is-one-quarter"}}
    {{template "карточка_товара" "is-one-quarter"}}
    {{template "карточка_товара" "is-one-quarter"}}
    {{template "карточка_товара" "is-one-quarter"}}
    {{template "карточка_товара" "is-one-quarter"}} 
</div>
{{end}}