{{ define "main"}}
  <div class="container">
    <div class="section">
    <div class="columns is-multiline box">
      {{template "карточка_товара"}}
      {{template "карточка_товара"}}
      {{template "карточка_товара"}}
    </div>
    <div class="columns is-multiline">
      {{template "карточка_товара" "is-one-quarter"}}
      {{template "карточка_товара" "is-one-quarter"}}
      {{template "карточка_товара" "is-one-quarter"}}
      {{template "карточка_товара" "is-one-quarter"}}
      {{template "карточка_товара" "is-one-quarter"}}
      {{template "карточка_товара" "is-one-quarter"}}
      {{template "карточка_товара" "is-one-quarter"}}
      {{template "карточка_товара" "is-one-quarter"}}
      
      <!-- Добавьте больше блоков card для других товаров -->
     </div>
     </div>
  </div> 
{{end}}