{{define "формаНовогоОбработчика"}}
<div class="container">
    <h1 class="title">Добавдение обработчика</h1>
    <form id="newRouteForm" class="columns is-multiline" jsHanlder="Перехват sumbit со всего документа  обрабатывается через ajaxPost()" action="добавитьОбработчик">
        <div class="field column  is-narrow">
            <label class="label">URL 
                <span class="icon has-text-info has-tooltip-arrow has-tooltip-info" data-tooltip="Не обязатель еслиестновлен обрабочтик, или действие, можно задать только URL и права, чтобы ограничить доступ к URL ">
                    <i class="fas fa-info-circle" ></i>
                </span>
            </label>           
            <div class="control">
                <input class="input" type="text" placeholder="URL" name="URL" value="">
            </div>
        </div> 
        <div class="field column  is-narrow">
            <label class="label">Действие 
                <span class="icon has-text-info has-tooltip-arrow has-tooltip-info" data-tooltip="Не обязатель еслиестновлен обрабочтик, может соответствовать какой либо функции в сервисе, или быть просто обозначением очереди обработчиков. Имеет приоритет над осальными полями">
                    <i class="fas fa-info-circle" ></i>
                </span>
            </label>           
            <div class="control">
                <input class="input" type="text" placeholder="авторизация" name="действие" value="">
            </div>
        </div>

        <div class="field column is-narrow">
            <label class="label">HTML Шаблон <span class="icon has-text-info has-tooltip-arrow has-tooltip-info" data-tooltip="Шаблон может быть указан в виде пути основнойКонтент/вложенныйКонтент">
                <i class="fas fa-info-circle" ></i>
            </span> </label>
            <div class="control">
                <input class="input" type="text" placeholder="Шаблон" name="основнойКонтент/вложенныйКонтент" value="имя шаблона">
            </div>
        </div>


        <div class="field column">
            <input class="is-checkradio" id="isActive" type="checkbox" name="isActive" checked="checked" name="активно" value="1">
            <label for="isActive">Активен</label>
        </div>
        </div>

        <div id ="accessInputBlocks" class=" p-3 columns">
            <div class="panel is-info ">
                <div class="panel-heading p-4">                   
                    Права доступа к обработчику
                </div>
             
                <div class="panel-block is-flex-direction-column is-align-items-stretch">
                    <div class="columns">
                        <div class="column is-one-third"><label class="label">Роль</label></div>
                        <div class="column is-one-third"><label class="label">Права достуна</label></div>
                        <div class="column is-one-third"> </div>
                    </div>
                    <div class="column">
                    {{template "БлокПравДоступа" Мап "шаблон" "role_access" "номер" 1 }}   
                    </div>               

                </div>
            </div>
        </div>
  

        <div id="handlersInputBlocks" class="p-3 columns">
            <div class="panel is-info ">
                <div class="panel-heading  p-4">                   
                  Обработчики
                 </div>
                <div class="panel-block is-flex-direction-column is-align-items-stretch">
                    <div class="columns">
                        <div class="column is-one-four">
                            <label class="label">Очередь
                                </span>
        
                            </label>
                        </div><div class="column is-one-four">
                            <label class="label">Сервис
                                <span class="icon has-text-info has-tooltip-arrow has-tooltip-info" data-tooltip="Нужно для того чтобы понять в какой сервис отправлять запрос для обработчки маршрута или действия, если обработчик не задан. Если задан обработчик, то скорей всего он зарегистрирован в СинКвике и соответсвует какому то Сервису">
                                    <i class="fas fa-info-circle" ></i>
                                </span>
        
                            </label>
                        </div>
                        <div class="column is-one-four"><label class="label">
                            <label class="label">Обработчик
                                <span class="icon has-text-info has-tooltip-arrow has-tooltip-info" data-tooltip="Имя обработчика который существуе в Сервисе, если задан то поле Сервис можно не заполнять">
                                    <i class="fas fa-info-circle" ></i>
                                </span>
                            </label>                      
                        </div>
                        <div class="column is-one-four"> </div>
                    </div>
                    <div class="column">
                    {{template "БлокОбработчиков" Мап "шаблон" "service_handler" "номер" 1 }}
                    </div>
                </div>
            </div>
        </div>

      
    </form>

</div>


{{end}}


{{define "БлокПравДоступа"}}
    {{ $номер := .номер }}
    {{ if $номер }} 
    {{else}}
        {{ $номер = printf "${%s}" "номер"  }}     

     {{end}}   
   
    <fieldset class="field is-horizontal" id="role_access-{{$номер}}">     
            <div class="field-body">
                <div class="control field" id="role-1">
                    <!-- <label class="label">Роль</label> -->
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Выбрать роль</span>
                            <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                        <div class="dropdown-item">
                            <label class="checkbox ">
                                <input type="checkbox"  name="роль[{{$номер}}]" value="1"/>
                                Роль 1
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox"  name="роль[{{$номер}}]" value="2"/>
                                Роль 2
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox"  name="роль[{{$номер}}]" value="3"/>
                                Роль 2
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox"  name="роль[{{$номер}}]" value="4"/>
                                Роль 2
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox"  name="роль[{{$номер}}]" value="5"/>
                                роль 2
                            </label>
                        </div>
                        </div>
                        </div>
                    </div>
                </div> 

                <div class="field control" id="access-{{$номер}}">
                    <!-- <label class="label">Права доступа</label> -->
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Выбрать права доступа</span>
                            <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                        <div class="dropdown-item">
                            <label class="checkbox ">
                                <input type="checkbox" name="права_доступа[{{$номер}}]" value="1"/>
                                права_доступа 1
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox"  name="права_доступа[{{$номер}}]" value="2"/>
                                права_доступа 2
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox"  name="права_доступа[{{$номер}}]" value="3"/>
                                права_доступа 3
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox"  name="права_доступа[{{$номер}}]" value="4"/>
                                права_доступа 4
                            </label>
                            <hr class="dropdown-divider" />
                            <label class="checkbox">
                                <input type="checkbox" name="права_доступа[{{$номер}}]" value="5"/>
                                права_доступа 5
                            </label>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>    

                {{template "КнопкиДобавленияУдаления" . }}              
            </div>  
        
    </fieldset>


{{end}}


{{define "БлокОбработчиков"}}
{{ $номер := .номер }}
{{ if  $номер }}
{{else}}
    {{ $номер = "${номер}" }}
{{end}}

            <fieldset id="service_handler-{{$номер}}"  class="field is-horizontal">   
           
                    <div class="field-body">
                        <div class="field control" style="max-width: 80px;">
                            <input class="input" type="number" name ="order[{{$номер}}]" value="" id="order-service_handler-{{$номер}}" min="1">
                        </div>
                        <div class="field control">
                                <!-- <input class="input" type="text" placeholder="Имя сервиса" name ="сервис" value=""> -->
                                <div class="select">
                                    <select id="service-1" name="сервис[{{$номер}}]" class="" onchange="изменитьСписокОбработчиков(event)">
                                        <option disabled value="" selected>Выбрать сервис</option>
                                        <option value="option1">Сервис 1Сервис 1Сервис 1Сервис 1</option>
                                        <option value="option2">Сервис 2</option>
                                        <option value="option3">Сервис 3</option>
                                        <option value="option4">Сервис 4</option>
                                    </select>
                                </div>
                        </div>                
                        <div class="field control">                         
                            <div class="select">                               
                                <div class="control">
                                    <select id="handler-1"  name="обработчик[{{$номер}}]">
                                        <option disabled value="" selected>Выбрать обработчик</option>
                                        <option value="option2">Обработчик 2</option>
                                        <option value="option3">Обработчик 3</option>
                                        <option value="option4">Обработчик 4</option>
                                    </select>
                                </div>
                            </div>                    
                        </div>
                        {{template "КнопкиДобавленияУдаления" .}} 
                    </div>
            
              </fieldset>     
{{end}}

{{define "КнопкиДобавленияУдаления"}}
{{ $номер := .номер }}
{{ if $номер }}
{{else}}
    {{ $номер = "${номер}" }}
{{end}}

{{ $имяШаблона := .шаблон }}
{{ if  $имяШаблона }}
{{else}}
    {{ $имяШаблона = "${имяШаблона}" }}
{{end}}

    <div class="field control has-addons">
        <div class="control ">
            <button onclick="добавитьБлок(event, '{{$имяШаблона}}', '{{$номер}}')" class="button  is-primary control"> 
                <i class="fas fa-plus p-1"></i>
            </button>
                    </div>
        <div class="control ">
            <button onclick="удалитьБлок(event, '{{$имяШаблона}}-{{$номер}}')" class="button  is-danger control">
            <i class="fas fa-minus p-1"></i>
        </button>
        </div>
    </div>
{{end}}

