{{блок head()}}
<head>
    <meta charset="utf-8">
    <meta nonce="" name="viewport" data-hid="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://pion.ru/">
    <!-- <link rel="stylesheet" href="/bluma/bulma.css">
    <link rel="stylesheet" href="/bulma-tooltip.min.css">-->
    <link rel="stylesheet" href="/all.min.css"> 
    <link rel="stylesheet" href="/pion.css">
    <script   type="application/javascript" src="/app.js"></script>
    <script   type="application/javascript" src="/scripts.js"></script>
  </head>

{{конец}}