{{define "кабинет"}}
<div id="content"  data-updateMethod="replaceWith">
<div class="container is-fluid">
  <div class="columns">

    <!-- Sidebar menu -->
    <div class="column is-one-quarter">
      <aside class="menu">
        <p class="menu-label">
          Личный кабинет
        </p>
        <ul class="menu-list">
          <li><a href="/кабинет/профиль" onclick="ajax(event)">Профиль</a></li>
          <li><a href="/кабинет/адреса" onclick="ajax(event)">Адрес</a></li>
          <li><a href="/кабинет/заказы" onclick="ajax(event)">Заказы</a></li>
          <li><a href="/кабинет/магазины" onclick="ajax(event)">Мои магазины</a></li>
          <li><a href="/кабинет/сообщения" onclick="ajax(event)">Сообщения</a></li>
          <li><a href="/кабинет/настройки" onclick="ajax(event)">Настройки</a></li>
          <!-- Add more menu items here -->
        </ul>
      </aside>
    </div>

    <!-- Main content -->
    <div class="column">     
        {{ template "кабинет_контент" .}}    
    </div>

  </div>
</div>
</div>
{{end}}
{{ define "кабинет_контент"}}
  {{template "профиль" .}}
{{end}}